body {
  margin: 0 auto;
  background: white;
  width: 100%;
}

.header-left,
.header-right,
nav,
aside,
.nav-top,
.nav-bottom,
.sidebar-top {
  background-size: contain;
  position: absolute;
}

header, header > * {
  height: 40px;
}

header {
  position: fixed;
  background: #292961;
  width: 100%;
  z-index: 50;
}

.header-left {
  width: 536px;
  background-image: url(images/header-left.png);
  left: 0;
}

.header-right {
  width: 493px;
  background-image: url(images/header-right.png);
  right: 0;
}

content {
  position: relative;
  top: 40px;
  height: 100%;
  display: flex;
}

nav, aside {
  position: relative;
  z-index: 20;
}

nav, nav > * {
  width: 48px;
}

nav {
  background-color: #FAFAFA;
  background-image: url(images/nav-bkg.png);
}

.nav-top, .nav-bottom {
  position: fixed;
}

.nav-top {
  top: 40px;
  height: 440px;
  background-image: url(images/nav-top.png);
}

.nav-bottom {
  bottom: 0;
  height: 48px;
  background-image: url(images/nav-bottom.png);
}

aside {
  right: 0;
  width: 64px;
  background-color: #FAFAFA;
  background-image: url(images/sidebar-bkg.png);
}

.sidebar-top {
  top: 40px;
  height: 521px;
  width: 64px;
  background-image: url(images/sidebar-top.png);
  position: fixed;
}

#content:not(.changes-tab) .fixed-header,
#content:not(.changes-tab) .changes-header,
#content:not(.changes-tab) .changes {
  display: none;
}

.fixed-header {
  position: fixed;
  top: 40px;
  left:48px;
  background: white;
  height: 64px;
  width: calc(100% - 48px - 64px);
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}

.container {
  flex-grow: 1;
  text-align: center;
}

.content-wrapper {
  background: white;
  z-index: 10;
  position: relative;
}

.changes-tab .content-wrapper {
  box-shadow: inset 0 -1px 0 #ccc;
}

.content-header {
  width: 958px;
  height: 3058px;
  margin: 0 auto 48px auto;
  background-image: url(images/content-header-discussion.png);
  background-size: contain;
  position: relative;
}

.changes-tab .content-header {
  margin: 0 auto;
  height: 188px;
  background-image: url(images/content-header-changes.png);
}

.tab {
  top: 140px;
  height: 48px;
}

.tab-discussion {
  left: 0;
  width: 209px;
}

.tab-changes {
  left: 432px;
  width: 107px;
}

.changes-header {
  height: 64px;
  background: white;
  z-index: 1;
  position: relative;
}

.changes-header-left {
  background-image: url(images/changes-header-left.png);
  width: 504px;
  height: 64px;
  background-size: contain;
  position: absolute;
}

.changes-header-right {
  background-image: url(images/changes-header-right.png);
  width: 64px;
  height: 64px;
  background-size: contain;
  right: 0;
  position: absolute;
}

.changes {
  min-height: calc(100vh - 40px - 64px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
}

.fixed-header-left {
  background-image: url(images/fixed-header-left.png);
  width: 504px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.fixed-header-right {
  background-image: url(images/fixed-header-right.png);
  width: 220px;
  height: 64px;
  background-size: contain;
  right: 0;
  position: absolute;
}

.file-tree {
  position: -webkit-sticky;
  position: sticky;
  top: calc(40px + 64px + 8px);
  width: 293px;
  height: calc(100vh - 64px - 40px - 8px);
  background-image: url(images/file-tree-webpack.png);
  background-size: 293px;
  background-repeat: no-repeat;
}

.file-viewer {
  background-image: url(images/file-contents-bkg-webpack.png);
  background-repeat: repeat-x;
  background-size: 1px 704px;
  background-color: #fafafa;
  background-position-y: 48px;
  box-shadow: inset 1px 0 #e5e5e5;
  flex-grow: 1;
  min-height: calc(100vh - 40px - 64px);
}

.file-header {
  background: #FAFAFA;
  box-shadow: inset 0 1px 0 #dfdfdf, inset 0 -1px 0 #dfdfdf;
  height: 48px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(40px + 64px);
}

button {
  opacity: 0;
  border: 0;
  padding: 0;
  position: absolute;
  cursor: pointer;
}

.file-tree-link {
  left: 16px;
  width: 253px;
  height: 32px;
}

.file-tree-webpack {
  top: 72px;
}

.file-tree-package {
  top: 104px;
}

.file-switcher {
  width: 32px;
  height: 32px;
  top: 8px;
}

.file-switcher-left {
  left: 8px;
}

.file-switcher-right {
  left: 39px;
}

.file-header-left {
  background-image: url(images/file-header-left-webpack.png);
  width: 342px;
  height: 48px;
  background-size: contain;
  position: absolute;
}

.file-header-right {
  background-image: url(images/file-header-right-webpack.png);
  width: 135px;
  height: 48px;
  background-size: contain;
  right: 0;
  position: absolute;
}

.file-contents {
  background-image: url(images/file-contents-webpack.png);
  background-size: 1026px 704px;
  background-repeat: no-repeat;
  height: 704px;
  margin-bottom: 64px;
}

.package .file-tree {
  background-image: url(images/file-tree-package.png);
}

.package .file-header-left {
  background-image: url(images/file-header-left-package.png);
}

.package .file-header-right {
  background-image: url(images/file-header-right-package.png);
  width: 153px;
}

.package .file-viewer {
  background-image: url(images/file-contents-bkg-package.png);
  background-size: 1px 2322px;
}

.package .file-contents {
  background-image: url(images/file-contents-package.png);
  background-size: 1026px 2322px;
  height: 2322px;
}